.LunchFeed{
    box-sizing: border-box;
}

.LunchFeed__menu{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: lighten(rgb(81, 165, 243),6%);
    margin-bottom: 20px;

    .menu-title{
        margin: 0;
    }

    .menu-description {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    &:last-of-type{
      margin-bottom: 0;  
    }
}

.LunchFeed__header{
    padding: 15px 30px 0px;
    font-weight: 600;
    font-size: 15px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 15px 0;
      color: darken(black, 10);
      letter-spacing: 1px;
      line-height: 17px;
      font-weight: 300;
    }
    p {
      color: black;
      font-size: 18px;
      line-height: 17px;
      font-weight: 300;
    }
  }

.LunchFeed__form{
    margin-bottom: 15px;

    .control-label{
        margin-right: 5px;
    }
}